<app-description>
  <div class="objective"><b>Objective:</b> Center a circle inside a rectangle using CSS.</div>
  <div class="instructions">
    <p>1. You have a rectangle and a circle inside it.</p>
    <p>2. Your task is to center the circle horizontally and vertically within the rectangle.</p>
    <p>3. Provide four different CSS solutions to achieve this.</p>
  </div>
</app-description>

<div class="challenge">

  <div class="solutions">
    <div class="solution" id="solution-1">
      <h3>Solution 1</h3>
      <div class="rectangle" id="solution-1-rectangle">
        <div class="circle" id="solution-1-circle"></div>
      </div>
    </div>

    <div class="solution" id="solution-2">
      <h3>Solution 2</h3>
      <div class="rectangle" id="solution-2-rectangle">
        <div class="circle" id="solution-2-circle"></div>
      </div>
    </div>

    <div class="solution" id="solution-3">
      <h3>Solution 3</h3>
      <div class="rectangle" id="solution-3-rectangle">
        <div class="circle" id="solution-3-circle"></div>
      </div>
    </div>

    <div class="solution" id="solution-4">
      <h3>Solution 4</h3>
      <div class="rectangle" id="solution-4-rectangle">
        <div class="circle" id="solution-4-circle"></div>
      </div>
    </div>


  </div>

</div>
